/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap");

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #141414; /* night black */
}

/* Header */
header {
    background-color:  #FBC31E; /* mikado yellow */
    padding: 0 1rem;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #141414;
}

header i {
    margin-right: 1px;
}

h1 {
    font-family: "Racing Sans One", sans-serif;
    color: #141414;
    letter-spacing: 0.5px;
}

/* Navigation */
#navbar {
    font-weight: 550;
    list-style-type: none;
}

#navbar > li {
    margin-bottom: 1em;
}

#navbar > li:hover {
    border-bottom: 1px solid #141414;
}

.active {
    border-bottom: 1px solid #141414;
}

/* Nav styles for dropdown toggle */
nav {
    position: absolute;
    background-color: #FBC31E;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

#menu-toggle {
    display:none;
}

.menu-toggle-label {
    font-size: 1.5rem;
}

#menu-toggle:checked~nav {
    display:block;
}

/* Main content */
main {
    /* Push footer to bottom of page */
    flex: 1 0 auto;
    margin-top: 40.57px; /* Make content visible below header */
}

/* Hero section */
#hero {
    width: 100%;
    background: url(../images/soccer-game-concept_23-2151043804.jpg)no-repeat center center/cover;
    height: 675px;
}

/* Footer */

footer {
    background-color: #FBC31E;
}

#social-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 8px 0;
}

#social-links i {
    font-size: 150%;
    color: #141414;
}

/* Media query at small laptop screen breakpoint (992px and larger) */
@media screen and (min-width: 992px) {
    /* Display nav links on header */
    nav {
        position: relative;
        width: fit-content;
        display: block;
        padding-right: 1rem;
    }

    #navbar {
        /* Put nav links next to each other to fit on one line */
        display: flex;
    }

    #navbar > li {
        /* Space nav links apart */
        padding-left: 1rem;
    }

    .menu-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 60px;
        margin: 0 1rem;
    }

    /* Main content */
    main {
        margin-top: 61.14px;
    }
}