/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap");

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #141414; /* night black */
}

/* Header */
header {
    background-color:  #FBC31E; /* mikado yellow */
    padding: 0 1rem;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #141414;
    top: 100%;
}

header i {
    margin-right: 1px;
}

h1 {
    font-family: "Racing Sans One", sans-serif;
    color: #141414;
    letter-spacing: 0.5px;
}

/* Navigation */
#navbar {
    font-size: 105%;
    font-weight: 550;
    list-style-type: none;
}

#navbar > li {
    margin-bottom: 1em;
}

#navbar > li:hover {
    border-bottom: 1px solid #141414;
}

.active {
    border-bottom: 1px solid #141414;
}

/* Nav styles for dropdown toggle */
nav {
    position: absolute;
    background-color: #FBC31E;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    display: none;
}

#menu-toggle {
    display:none;
}

.menu-toggle-label {
    font-size: 1.5rem;
}

#menu-toggle:checked~nav {
    display:block;
}

/* Main content */
main {
    /* Push footer to bottom of page */
    flex: 1 0 auto;
}