/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap");

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #141414; /* night black */
}

h1, h2, h3 {
    font-family: "Racing Sans One", sans-serif;
    color: #141414;
    letter-spacing: 0.5px;
}

/* Header */
header {
    background-color:  #FBC31E; /* mikado yellow */
    padding: 0 1rem;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #141414;
}

header i {
    margin-right: 1px;
}

/* Navigation */
#navbar {
    font-weight: 550;
    list-style-type: none;
}

#navbar > li {
    margin-bottom: 1em;
}

#navbar a:hover {
    border-bottom: 1px solid #141414;
}

.active {
    border-bottom: 1px solid #141414;
}

/* Nav styles for dropdown toggle */
nav {
    position: absolute;
    background-color: #FBC31E;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

#menu-toggle {
    display:none;
}

.menu-toggle-label {
    font-size: 1.5rem;
}

#menu-toggle:checked~nav {
    display:block;
}

/* Main content */
main {
    /* Push footer to bottom of page */
    flex: 1 0 auto;
    margin-top: 40.57px; /* Make content visible below header on small screens */
    display: flex; /* Give child section elements flexbox properties */
    flex-direction: column;
}

/* Hero section */
#hero {
    width: 100%;
    background: url(../images/soccer-game-concept_23-2151043804.jpg) no-repeat center center/cover;
    height: 675px;
    position: relative;
}

.overlay {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 5px;
    min-height: 295px;
    bottom: 10px;
    width: 68%;
    font-size: 105%;
}

.overlay h3 {
    color: #387B12;
}

.overlay p {
    margin-top: 10px;
}

/* Services section */

#services {
    width: 95%;
    margin: 0px auto;
    padding-top: 4rem; /* Prevent navbar covering section heading */
}

#services h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 250%;
}

#services h3 {
    color: #387B12;
    padding: 10px 0px 15px 10px;
    font-size: 115%;
}

#events {
    margin-bottom: 20px;
    line-height: 15px;
}

#events p {
    padding: 0px 0px 5px 10px;
    line-height: 20px;
}

#events img {
    width:100%;
    height: auto;
}

/* Contact/opening times section */
#contact h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 250%;
}

#contact-open {
    display: flex;
    flex-wrap: wrap;
}

#contact-open div {
    background-color: #141414;
    color: white;
    padding: 25px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border-bottom: 6px solid white;
}

#contact-open h3 {
    color: white;
    margin-bottom: 15px;
}

#contact-open p, address, table {
    margin-bottom: 10px;
    font-size: 0.75rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 5px;
}

/* Gallery page */
#pictures img {
    width: 100%;
    line-height: 1em;
}

#pictures {
    line-height: 0;
}

/* Booking page form */
#booking {
    background-image: url(../images/doing-sport-concept_23-2151937731.jpg);
    background-size: cover;
    background-position: 65%;
    flex-grow: 1;
    padding: 30px 10% 40px 10%;
}

#booking-form {
    color: white;
    padding: 25px;
    background-color:#141414;
    opacity: 0.8;
}

#booking-form h2 {
    color: white;
    font-size: 200%;
    margin-bottom: 25px;
}

.form-input, .form-select {
    width: 90%;
    height: 28px;
    margin: 5px 0 25px 0;
    padding: 1px 5px;
}

.form-input:hover, .form-select:hover {
    background-color: #FBC31E;
}

form .btn {
    background-color: #FBC31E;
    color: #141414;
    font-size: 110%;
    margin-top: 15px;
}

form .btn:hover {
    background-color: white;
}

/* Success page */
#success {
    text-align: center;
    padding-top: 3rem;
}

#success p {
    padding: 20px;
}

#success h2 {
    font-size: 200%;
}

#success .btn {
    max-width: 350px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    background-color: #387B12;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    font-weight: 550;
}

.btn:hover {
    border-bottom: none;
    background-color: black;
}

.overlay-button {
    padding-top: 2rem;
    opacity: 1;
}

/* Footer */

footer {
    background-color: #141414;
}

#social-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 8px 0;
}

#social-links i {
    font-size: 150%;
    color: white;
}

#social-links i:hover {
    color: #FBC31E;
}

/* Media query for tablet screens and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Move and resize hero overlay to prevent obscuring image */
    .overlay {
        min-height: 170px;
        width: 80%;
    }

    .overlay-button {
        padding-top: 1rem;
    }

    /* Services */
    #events {
        display: flex;
        justify-content: space-evenly;
    }

    #events img {
        width:100%;
        max-height: 115px;
    }

    /*Headings */
    #services h3, #contact-open h3 {
        font-size: 110%;
    }

    /* Booking page */
    #booking {
        padding: 60px 15% 50px 15%;
    }

    #booking-form h2 {
        font-size: 240%;
    }

    /* Gallery */
    #pictures {
        column-count: 2;
        column-gap: 0;
    }

}

/* Media query at small laptop screen breakpoint (992px and larger) */
@media screen and (min-width: 992px) {
    /* Display nav links on header */
    nav {
        position: relative;
        width: fit-content;
        display: block;
        padding-right: 1rem;
    }

    #navbar {
        /* Put nav links next to each other to fit on one line */
        display: flex;
    }

    #navbar > li {
        /* Space nav links apart */
        padding-left: 1rem;
    }

    .menu-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 60px;
        margin: 0 1rem;
    }

    /* Main content */
    main {
        margin-top: 61.14px;
    }

    /* Hero section */
    .overlay {
        width: 25%;
        right: 25px;
        min-height: 295px;
        bottom: 30px;
        font-size: 110%; 
    }

    .overlay-button {
        padding-top: 2rem;
    }

    /* Headings */
    #services h3, #contact-open h3 {
        font-size: 150%;
    }

    #services h2, #contact h2 {
        font-size: 300%;
    }

    /* Services */
    #events img {
        width:100%;
        max-height: 155px;
    }

    /* Booking page */
    #booking {
        padding: 65px 20% 60px 20%;
    }

    #booking-form h2 {
        font-size: 280%;
    }
}

/* Media query for xl screens (1200px and up) */
@media screen and (min-width: 1200px) {
    .overlay {
        font-size: 135%;
    }

    .overlay-button {
        padding-top: 1.5rem;
    }

   /* Headings */
    #services h3, #contact-open h3 {
        font-size: 210%;
    }

    #services h2, #contact h2 {
        font-size: 400%;
    }

    /* Services */
    #events img {
        width:100%;
        max-height: 220px;
    }

    /* Booking page */
    #booking {
        padding: 100px 45% 60px 10%;
    }

    #booking-form h2 {
        font-size: 290%;
    }
}

/* Media query for 4k screens (1500px and up) */
@media screen and (min-width: 1500px) {
    #events img {
        width:100%;
        max-height: 400px;
    }

    /* Booking page */
    #booking {
        padding: 100px 60% 60px 10%;
    }

    #booking-form h2 {
        font-size: 290%;
    }
}